# 0.0 Bibliotecas

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1.0 Importando Dados

In [62]:
gender_submission = pd.read_csv('data/gender_submission.csv')
training = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

# rotulando dados de treino e teste
training['train_test'] = 1
test['train_test'] = 0

# adicionando uma coluna Survived ao Dataframe test e preenchendo com NaN
test['Survived'] = np.nan

# combinar os dados de training e test em um √∫nico dataframe chamado all_data
# Isso √© feito para que os dados passem pelas transforma√ß√µes de forma identidica nos dois dataframes
all_data = pd.concat([training, test])

# comando para exibir gr√°ficos diretamente no notebook e especificar todas as colunas do dataframe.
%matplotlib inline
all_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'train_test'],
      dtype='object')

In [58]:
all_data.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,train_test
143,1035,NaN,2,"Beauchamp, Mr. Henry James",male,28.0,0,0,244358,26.0,NaN,S,0

# 2.0 Explorando Dados

## üìä Entendendo a Natureza dos Dados
- **M√©todos b√°sicos**:
  - `.info()` - Metadados e tipos de vari√°veis
  - `.describe()` - Estat√≠sticas descritivas

## üîç T√©cnicas de Explora√ß√£o
1. **Visualiza√ß√µes**:
   - Histogramas
   - Boxplots
2. **An√°lise de distribui√ß√£o**:
   - Value counts
3. **Qualidade dos dados**:
   - Identifica√ß√£o de dados faltantes
4. **Rela√ß√µes entre vari√°veis**:
   - Correla√ß√£o entre m√©tricas

## üß© Explorando Informa√ß√µes Interessantes
5. **Hip√≥teses e investiga√ß√µes**:
   - 5.1 üè¶ Ricos sobreviveram?
   - 5.2 üö¢ Sobreviv√™ncia por localiza√ß√£o no navio
   - 5.3 üìà Scatterplot: idade vs. pre√ßo do ticket
   - 5.4 üßëüíº Vari√°vel combinada: jovem e rico?
   - 5.5 üí∞ Total gasto por passageiro?

## ‚öôÔ∏è Pr√©-processamento e Engenharia de Features
6. **Feature engineering**:
   - Cria√ß√£o de novas vari√°veis
7. **Tratamento de datas**:
   - Pr√©-processar a data junto ou utilizar transformer?
   - Utilizar label para treino e teste
8. **Normaliza√ß√£o**:
   - Scaling dos dados

## ü§ñ Modelagem Preditiva
9. **Linha de base**:
   - Model baseline
10. **Compara√ß√£o de modelos**:
    - Model comparison with CV (Cross-Validation)

---

### Destaques:
- üî• Foco em descoberta de padr√µes interessantes
- ‚ö° Processo iterativo de an√°lise e modelagem
- üéØ Combina√ß√£o de t√©cnicas estat√≠sticas e de machine learning

In [8]:
# Dando uma olhada r√°pida nos dados para saber os tipos de dados e os nulos
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
training.shape

(891, 12)

In [14]:
training.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200