# Entendendo o Train_test_split

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [25]:
df_root = pd.read_csv('data/500hits.csv', encoding = 'latin-1')
df_root.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [26]:
X = df_root.drop(columns = ['PLAYER', 'HOF'])
y = df_root['HOF']
X.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329

In [27]:
X.shape

(465, 14)

In [28]:
y.shape

(465,)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=11, test_size=0.2)

In [30]:
X_train.shape

(372, 14)

In [31]:
X_test.shape

(93, 14)

In [32]:
y_train.shape

(372,)

In [33]:
y_test.shape

(93,)

#### Agora explicando:
O **train_test_split** é uma função do scikit-lean que divide aleatoriamente um dataset em dois conjuntos:
1. Treino: Usado para treinar o modelo.
2. Teste: Usado para avaliar o modelo final.

X_train = Features (variáveis preditoras) para o treino. Exemplo: Idade, sexo, preço do ticket

X_test = Features para teste (avaliação do modelo com dados não vistos). Exemplo: Novos passageiros que o modelo nunca viu.

y_train = Somente respostas para comparação. Exemplo: quem sobreviveu (Survived: 0 ou 1)

y_test = Respostas do X_test (usadas para medir a acurácia do modelo). Exemplo: compara as previsões com a realidade.